body {
    background-color: rgb(181, 240, 93);
}

h1 {
    font-family: Impact, fantasy;
    font-stretch: extra-expanded;
    color:darkgreen;
    text-decoration: overline;
    text-shadow: 2px 2px 5px white;
    text-align: center;
}

h3 {
    font-family: monospace;
    color:rgb(58, 51, 51);
    font-size: x-large;
}

div {
    font-family: courier,monospace;
    color: darkblue;
    font-weight: bolder;
    font-size:large;
}

#menuBG {
    width:400px;
    height: 470px;
    margin: 10px auto;
}

#frmMenu {
    width:600px;
    height:200px;
}

#totalPrice {
    width: 200px;
    height: 190px;
    margin: 20px auto;
    float: right;
}

.left {
    width: 200px;
    height: 200px;
    float: left;
}

.center {
    width: 200px;
    height: 200px;
    float: left;
}

.right {
    width: 200px;
    height: 200px;
    float: right;
}



#showText {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart {
    top: 0;margin:0px auto;
    width: 400px;
    height: 200px;
}

#btnOrder {
    margin: 20px 0px 0px 100px;
    width: 120px;
    height: 50px;
    display: block;
    margin: 23px auto;
    font-family: blippo;
    font-weight: bolder;
}






